html,
body{	
	margin: 0;
	padding: 0;
	color: #fff;	
}
.wrapper{
	max-width: 100%;
	min-height: 100vh;	
	background-image: url(../img/bg_2.jpg);
	background-size: cover;
	padding: 5%;
}
.content {
	width: 85%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.navigation{
	width: 100%;	
	display: flex;
	justify-content: space-between;
}
.form {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.title {
	font-size: 100px;
	color: gold;
}
.subtitle {
	font-size: 30px;
	color: gold;
}
.navigation__part {
	width: 50%;
	display: flex;
	flex-direction: column;
	width: 50%;
}
.peopleInf {
	width: 60%;
}
.planetesInf {
	width: 40%;
}
.mainArea {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;	
}
.heroCard{
	width: 270px;
	height: 200px;
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #00004d;
	color: gold;	
}
.heroName{
	display: inline-block;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
}
.heroYear{
	display: inline-block;
	font-size: 20px;	
}
.heroGender{
	display: inline-block;
	font-size: 20px;	
}
.planetbutton{
	display: inline-block;
	width: 100px;
}
